html {
	color-scheme: light dark;
	font-family: system-ui;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 8px;
}
